<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookDetails</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div>
    <span>Book details</span><br>
    <span th:text="'ID: ' + ${book.id}"></span><br>
    <span th:text="'Title: ' + ${book.title}"></span><br>
    <span th:text="'Download count: ' + ${book.downloadCount}"></span><br>
    <span>Authors:</span><ul th:each="author:${book.getAuthors()}">
        <li th:text="${author.name} + ', ' + ${author.yearOfBirth} + ' - ' + ${author.yearOfDeath}"></li>
    </ul><br>
    <span>Subjects:</span><ul th:each="subject:${book.getSubjects()}">
        <li th:text="${subject}"></li>
    </ul><br>
    <span>Languages:</span><ul th:each="language:${book.getLanguages()}">
    <li th:text="${language}"></li>
    </ul><br>
    <span>Bookshelves:</span><ul th:each="bookshelve:${book.getBookshelves()}">
    <li th:text="${bookshelve}"></li>
    </ul><br>
</div>
<a th:href="@{'/web/api/books/show-all'}">Return to the main page.</a>
</body>
</html>