<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BooksList</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<table>
<thead>
<tr>
    <th>ID</th>
    <th>Title</th>
    <th>Download count</th>
    <th></th>
    <th></th>
    <th></th>
</tr>
</thead>
<tbody>
<tr th:each="book : ${books}">
    <td th:text="${book.id}"></td>
    <td th:text="${book.title}"></td>
    <td th:text="${book.downloadCount}"></td>
    <td><a th:id="'edit-link-'+${book.id}" th:href="@{'/web/api/books/edit-book/'+${book.id}}">Edit</a></td>
    <td><a th:id="'details-link-'+${book.id}" th:href="@{'/web/api/books/book-details/'+${book.id}}">Details</a></td>
    <td><a th:id="'delete-link-'+${book.id}" th:href="@{'/web/api/books/delete-book/'+${book.id}}">Delete</a></td>
</tr>
</tbody>
</table>
<a th:href="@{'/web/api/books/add-book'}">Add Book</a>
</body>
</html>