table {
    border: 2px solid;
    border-collapse: collapse;
    width: 100%;
}

th {
    border: 1px solid;
    padding: 8px;
    text-align: left;
}

td {
    border: 1px solid;
    padding: 8px;
}

.error-message {
    background-color: #ffcccc;
    color: #cc0000;
    border: 1px solid #cc0000;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}